.container{
    display: flex;
    background: #dac1c18e;
}



button{
    border: none;
    background: black;
    color: white;
    border-radius: 15px;
    padding: 8px 20px;
}

input{
border: none;
}
input:focus{
outline: none;
}

/* Solid border */
hr.solid {
    border-top: 3px solid #030000;
    z-index: 9999;
  }